<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>Home Page</title>
</head>
<body>
    <h1>THIS IS MY BANNER TEXT</h1>
    <li><a href="/Info">INFO</li>
    <li><a href="/Contact">CONTACT</a></li>
    <h2> This Is My Paragraph Header</h2>
    <p>This is where I am going to put useful and informative text about my website</p><p>This is where I can place even more info about my website</p><p>This is where i can a copyright logo like this Ⓒ </p>


</body>
</html>